:root {
    /* Colors */
    --color-primary: #2440F2;
    --color-secundary: #c7cfff;
    --color-background-primary: white;
    --color-background-secundary: black;
    --color-text: black;
    --color-link: var(--color-primary);
    --color-link-hover: var(--color-primary);

    /* Others */
    --spacing: 1rem;
    --border-radius: var(--spacing);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background-secundary);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: var(--spacing);
    color: var(--color-text);

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
}

header,
main {
    background-color: var(--color-background-primary);

    width: 100%;
    padding: var(--spacing);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

header div.header-bar {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div.header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

header img {
    height: 50px;
}

header img:nth-child(2) {
    cursor: pointer;
}

header h1 {
    display: inline-block;
    font-size: var(--spacing);
}

header nav {
    width: 100%;

    display: flex;

    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

header nav ul {
    width: 100%;
    
    list-style-type: none;
    padding: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

header nav a,
header nav a:visited {
    background-color: var(--color-primary);
    color: var(--color-background-primary);

    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;

    width: 100;
    padding: var(--spacing);

    display: block;
}

main {
    flex-grow: 1;
}

/* FONT */
a, a:visited{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bolder;
    color: var(--color-link);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: bolder;
    text-transform: uppercase;

    background-image: linear-gradient(rgb(0, 0, 221), rgb(0, 6, 41));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

/* FORM */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

input,
textarea {
    width: 300px;
    font-size: 1.2em;
    font-weight: bolder;
    border: gray 2px solid;
    border-radius: var(--border-radius);
    outline: none;
}

input {
    height: calc(var(--spacing) * 3);
    padding-left: var(--border-radius);
    padding-right: var(--border-radius);
}

textarea {
    height: 150px;
    padding: var(--border-radius);
}

input::placeholder,
textarea::placeholder {
    color: grey;
}

input:focus,
textarea:focus {
    border-color: var(--color-primary);
}

button {
    background-color: var(--color-primary);
    color: white;
    border: 0;
    border-radius: 1vh;
    padding: var(--spacing);
    min-width: 200px;
}

form a {
    font-size: 1.2em;
    display: flex;
    align-self: center;
    color: black;
}

form .form-group {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
}

form label {
    font-size: 1.2em;
    font-weight: bolder;
}

/* SEARCH FORM */
#search-form {
    width: 100%;
    flex-direction: row;
    gap: 0;
}

#search-form input {
    width: 100%;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-form button {
    min-width: 50px;
    padding: calc(var(--spacing) + 2px);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-results {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

/* CARDS */
.services-grid,
.service-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.service-card {
    background-color: var(--color-secundary);
    border-radius: var(--border-radius);
    padding: var(--spacing);
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing);
}

/* OTHERS */

img {
    height: 200px;
}

.hide {
    display: none !important;
}
