
<div class="header-bar">

    <div class="header-title">
        <img src="./assets/images/logo.png" alt="Logo">
        <h1>Emprego Seguro</h1>
    </div>

    <img src="./assets/images/menu.svg" alt="Menu" onclick="toggleMenu('menu')">

</div>

<nav id="menu" class="hide">
    <ul>
        <li>
            <a href="">
                Fazer Busca
            </a>
        </li>
        <li>
            <a href="">
                Editar Perfil
            </a>
        </li>
        <li>
            <a href="">
                Excluir Conta
            </a>
        </li>
        <li>
            <a href="">
                Cadastrar Serviço
            </a>
        </li>
        <li>
            <a href="">
                Editar Serviço
            </a>
        </li>
        <li>
            <a href="">
                Remover Serviço
            </a>
        </li>
    </ul>
</nav>
