
<div class="header-bar">

    <div class="header-title">

        <img src="./assets/images/logo.png" alt="Logo">

        <h1>Emprego Seguro</h1>

    </div>

    <div class="icons">
        
        <a href="./inbox.html">
            <span id="counter-mensages"></span>
            <img src="./assets/images/chat-red.svg" alt="Chat" id="chat-red" class="hide">
            <img src="./assets/images/chat.svg" alt="Chat" id="chat-blue">
        </a>

        <img src="./assets/images/menu.svg" alt="Menu" onclick="toggleMenu('menu')">

    </div>

</div>

<nav id="menu" class="hide">
    <ul>
        <li>
            <h2 id="username-display"></h2>
        </li>
        <li>
            <a href="./">
                Fazer Busca
            </a>
        </li>
        <li>
            <a href="./edit-user.html">
                Editar Perfil
            </a>
        </li>
        <li>
            <a href="#" onclick="deleteUser()">
                Excluir Conta
            </a>
        </li>
        <li>
            <a href="./services.html">
                Meus Serviços
            </a>
        </li>
        <li>
            <a href="./inbox.html">
                Caixa de Entrada
            </a>
        </li>
        <li>
            <a href="./outbox.html">
                Caixa de Saída
            </a>
        </li>
        <li>
            <a href="#" onclick="cleanupAndRedirect()">
                Sair
            </a>
        </li>
    </ul>
</nav>
